<div #emojiListContainer class="h-full w-full overflow-auto">
  @if (isLoadingEmojis) {
    <p class="text-center text-3xl">
      {{ currentLoadingEmoji }}
    </p>
  } @else {
    @if (getEmojiGroups().length > 0) {
      @for (group of getEmojiGroups(); track $index) {
        <div class="mb-4 p-2 border-b">
          <h3 class="text-2xl font-semibold mb-4">
            {{ group.title | categoryTransform }}
          </h3>
          <div 
            class="grid grid-cols-[repeat(auto-fit,_minmax(60px,_1fr))] gap-4"
          >
            @for (emoji of group.emojis; track $index) {
              <div 
                class="flex justify-center items-center w-16 h-16 hover:bg-gray-100 hover:rounded-md cursor-pointer"
                (click)="emojiClick(emoji, copiedMessage)"
                [title]="emoji.slug"
              >
                <span class="text-3xl">{{ emoji.character }}</span>
              </div>
            }
          </div>
        </div>
      }
    } @else {
      <p>No emojis found.</p>
    }
  }
</div>

<app-emoji-copied-message #copiedMessage></app-emoji-copied-message>
